@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
        display: flex;
        align-items: center;
        margin-left: 650px;
    }

    .Login form {
        margin: 10em;
        max-width: 320px;
    }

    .Login Button {
        margin-left: 1%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .Login HomeButton {
        margin-top: 10px;
    }
}