/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.home{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.image-container {
  display: block;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #c12f2f;
  margin-bottom: 100px;
}

.image-container img {
  width: 100%;
  justify-content: center;
}
.image{
  width: 1440px;
  display: inline-block;
}

.image img{
  display: block;
  float: left;
  clear: left;
  margin-left: -33%;
}
/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  background-color: #5359cc;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}
#page {
  margin-bottom: 61px;
}
